html[data-theme='light'] {
  // --button-bg-custom: #141a21;
  // --button-text-custom: #ffffff;
  --button-bg-custom: var(--mui-palette-primary-main);
  --button-text-custom: var(--mui-palette-primary-contrastText);

  --bg-patterns-line-color1: #b1b2c2a1;
  --bg-patterns-line-color2: #b1b2c261;
  --bg-patterns-line-color3: #e5e5f739;

  --login-bg-custom: var(--mui-palette-primary-contrastText);
  --login-text-custom: var(--mui-palette-warning-contrastText);
}

html[data-theme='dark'] {
  // --button-bg-custom: #ffffff;
  // --button-text-custom: #141a21;
  --button-bg-custom: var(--mui-palette-primary-main);
  --button-text-custom: var(--mui-palette-primary-contrastText);

  --bg-patterns-line-color1: #545458a1;
  --bg-patterns-line-color2: #b1b2c261;
  --bg-patterns-line-color3: #e5e5f739;

  --login-bg-custom: #343333;
  --login-text-custom: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.bg-patterns {
  min-height: 100vh;
  opacity: 0.8;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  // background-image: linear-gradient(var(--bg-patterns-line-color1) 1px, transparent 1px),
  // linear-gradient(to right, var(--bg-patterns-line-color2) 1px, var(--bg-patterns-line-color3) 1px);
  background-size: 20px 20px;
  padding: 60px 0;
}

input:autofill {
  -webkit-box-shadow: 0 0 0 100px transparent inset !important;
  -webkit-text-fill-color: unset !important;
  caret-color: #000;
}

// Animation page router
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

// remove tap
* {
  -webkit-tap-highlight-color: transparent;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}
